@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Indie+Flower&display=swap');

.section1 h2 {
  font-size: 4.25em;
  text-align: center;
  font-family:  'Dancing Script', serif；

}

.section2 h3{
font-size: 4.25em;
text-align: center;
  font-family:  'Dancing Script', serif；

}


.section3 h4{
font-size: 4.25em;
text-align: center;
  font-family:  'Dancing Script', serif；

}
.section4 h5{
font-size: 4.25em;
text-align: center;
  font-family:  'Dancing Script', serif；

}
.section5 h1{
font-size: 4.25em;
text-align: center;
  font-family:  'Dancing Script', serif；

}
.section1 p {
  font-size: 1em;
  text-align: left;
  text-shadow: 2px 2px #653EDC; opacity: 70%;
  font-family: 'Sansita Swashed', cursive;
}


.section2 p {
  font-size: 1em;
  text-align: left;
  text-shadow: 2px 2px #7589FF; opacity: 70%;
  font-family: 'Sansita Swashed', cursive;
}

.section3 p {
  font-size: 1em;
  text-align: left;
  text-shadow: 2px 2px #7589FF; opacity: 70%;
  font-family: 'Sansita Swashed', cursive;
}

.section4 p {
  font-size: 1em;
  text-align: left;
  text-shadow: 2px 2px #9380F6; opacity: 70%;
  font-family: 'Sansita Swashed', cursive;
}


.section5 p {
  font-size: 1em;
  text-align: left;
  text-shadow: 2px 2px #7E4DE0; opacity: 70%;
  font-family: 'Sansita Swashed', cursive;
}
